<div class="center hero-unit">
	<h3>欢迎使用会议预约管理系统</h3>
	<table class="table table-hover">
		<tr>
			<th>编号</th>
			<th>姓名</th>
			<th>预约场地</th>
			<th>预约时间</th>
			<th>预约结果</th>
			<th>操作</th>
		</tr>
	</table>
</div>
